.corousel{
    padding: 81px 0;

    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;     
    }

    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;

        img {
            width: 31px;
            height: 50px;
        }
    }

    .slick-next {
        right: -66px;
        left: auto;
    }
}

@media (max-width: 991px) {
	.corousel{
		padding: 81px 0;
	
		&__inner {
			position: relative;
			width: 600px;
			margin: 0 auto;   
			img{
				width: 100%;
			}  
		}

	}
}
@media (max-width: 767px){
	.corousel{

		&__inner {
			width: 400px;
			margin: 0 auto;   
			img{
				width: 100%;
			}  
		}

	}
}
@media (max-width: 575px){
	.corousel{

		&__inner {
			width: 300px;
			margin: 0 auto;   
			img{
				width: 100%;
			}  
		}

	}
	.slick-dots{
		display: flex !important;
		justify-content: space-evenly;
		list-style-type: none;
		margin-top: 20px;
	}
}